* {
  margin: 0;
  padding: 0;
  scrollbar-color: red;
  
}
#sec1 {
  background-image: url("./images/hotel1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  overflow: auto;
  height: auto;
  position: relative;
  animation-name: example;
  animation-duration: 70s;
  animation-delay: 17s;
  animation-iteration-count: 330;
  animation-direction: right;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) linear;
}
.sec2 {
  background-image: url("./images/faci.png");
  background-repeat: no-repeat;
  overflow: auto;
  background-size: 100%;
  height: auto;
  width: auto;
}
.sec3 {
  background-color: rgb(207, 228, 228);
  overflow: auto;
  background-size: cover;
  height: auto;
}
.sec4 {
  background-color: rgb(44, 49, 97);
  overflow: auto;
  background-size: 100%;
  height: auto;
}
.bodyta {
  background-image: url("./images/OIP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bodytr {
  background-image: url("./images/dpp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-1 {
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90px;
  position: sticky;
}
#ali{
  background-color: aliceblue;
}
.sp1 {
  color: rgb(0, 0, 0);
  font-size: 15px;
}

li a:hover {
  background-color: rgb(233, 199, 106);
  color: black;
}
div a:hover {
  background-color: rgb(233, 199, 106);
}

/* span {
  color: navy;

  font-size: 80px;
} */
.im {
  float: left;
  margin-top: 0.5%;
  margin-left: 2%;
}

.l1 {
  background-color: rgb(255, 255, 255);
  /* float: right; */
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-top: 1.5%;
  margin-right: 14%;
  color: rgb(0, 0, 0);
}
.l1:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 252, 252);
}
.l1a {
  background-color: rgb(0, 0, 0);
  /* float: right; */
  padding-top: 1%;
  padding-bottom: 1%;

  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  margin-top: 1.5%;

  color: rgb(255, 255, 255);
}
.l1a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#tuto{
  float: right;
}
.im {
  background-color: aliceblue;
  border-radius: 15px;
  background-size: cover;
  margin-top: 1%;
  cursor: pointer;
}
.im :hover {
  color: #ff0000;
}
#tk {
  background-color: #ff0000;
  text-align: center;
}
.rp {
  float: right;
  margin-right: 3%;
}
.rt {
  float: right;
  margin-right: 1%;
}
.gl {
  float: left;
  margin-top: 0%;
  background-size: cover;
}
.divl {
  color: black;
  float: left;
  width: 21%;
  margin-left: 1%;
}
.divr {
  float: left;
  width: 58%;
}
.divvv{
  height: 2cm;
  width: 10cm;
}
.divr1 {
  float: right;
  width: 57%;
  margin-right: 3%;
}
.divl1 {
  float: left;
  width: 35%;

  margin-left: 5%;
  animation-name: exam;
  animation-duration: 70s;
  animation-delay: 10s;
  animation-iteration-count: 330;
  animation-direction: right;
  animation-fill-mode: backwards;
  /* animation-timing-function: linear; */
}
.divr2 {
  float: right;
  width: 57%;
  margin-right: 3%;
}
.divl2 {
  float: left;
  width: 35%;
  margin-left: 5%;
}
.p1 {
  font-size: 20px;
}
.aq {
  background-color: rgb(247, 234, 64);
  width: 70px;
  height: 40px;
  margin-right: 1%;
  margin-left: 0.5%;
  float: right;
  text-decoration: none;
  border-radius: 15px;
}
.ik {
  float: right;
  background-color: white;
  padding: 2px;
  border: 1px solid whitesmoke;
  border-radius: 30px;
}
.wk {
  float: right;
  margin-left: 95%;

  border-radius: 30px;
  position: fixed;
}
.wk:hover {
  height: 65px;
  width: 65px;
}
.duck {
  margin-left: 90%;

  position: fixed;
}
#sj {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-shadow: 2px 2px 5px red;
  background-attachment: fixed;

  margin-right: auto;
}

ul {
  margin-top: 0.5%;
  list-style-type: none;
  overflow: hidden;
  border: none;
}

li {
  justify-content: center;
  margin-top: 2.5%;
  margin-right: 2%;
  float: right;
  border: none;
}
li a {
  background-color: rgb(46, 34, 28);
  text-align: center;
  text-decoration: none;
  padding: 5px;
  color: white;
  text-shadow: 2px 2px 10px red;
  display: block;
  border-right: 1px solid brown;
  border-bottom: 1px solid brown;
  border-radius: 15px;
  float: right;
}
.div1 {
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
}
/* .l3 {
  background-color: antiquewhite;
} */
.r4 {
  background-color: antiquewhite;
}
#H4 {
  background-color: white;
  color: black;
  margin-right: 75%;
}
/* #fr{
    background-color: rgb(71, 63, 63);
    
} */
#ta {
  background-color: rgb(201, 224, 224);
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  height: 10cm;
  width: 10cm;
}
#bo {
  margin-top: 0%;
  background-color: rgb(255, 255, 255);
}
#mano {
  border-radius: 150px;
  margin-left: 30%;
}
#frame {
  float: left;
  position: fixed;
  margin-left: 1%;
  height: 10cm;
  width: 4cm;
  margin-top: 3%;
}
.bt {
  float: right;
  margin-right: 2%;
  margin-top: 2.5%;
  height: 0.7cm;
}
.seach {
  float: right;
  margin-right: 0%;
  margin-top: 2.5%;
  height: 0.7cm;
}
#tak {
  border-radius: 150px;
  margin-right: 2%;
}

@keyframes example {
  0% {
    background-image: url("./images/hotel1.jpg");
    background-repeat: no-repeat;
  }
  25% {
    background-image: url("./images/city.jpg");
    background-repeat: no-repeat;
  }
  50% {
    background-image: url("./images/pani.jpg");
    background-repeat: no-repeat;
  }
  75% {
    background-image: url("./images/butt.jpg");
    background-repeat: no-repeat;
  }
  100% {
    background-image: url("./images/bri.jpg");
    background-repeat: no-repeat;
  }
}

@keyframes exam {
  0% {
    image: url("./images/hotel1.jpg");
    left: 0px;
    right: 135px;
  }
  25% {
    image: url("./images/city.jpg");
    left: 0px;
    right: 234px;
  }
  50% {
    image: url("./images/hotel1.jpg");
    left: 0px;
    right: 0px;
  }
  75% {
    image: url("./images/city.jpg");
    left: 0px;
    right: 0px;
  }
  100% {
    image: url("./images/hotel1.jpg");
    left: 0px;
    right: 0px;
  }
}



.js{
  /* position: relative; */
  height: 150px; ;
}
.js:hover {
  width: 200px;
  height: 140px;
}
.r4:hover {
  font-size: 200%;
  width: 10cm;
}
.sundar1 {
  border-radius: 15px;
  transform: translate(0px, -80px);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.ceo1 {
  border-radius: 15px;
  transform: translate(0px, -80px);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.cfo1 {
  border-radius: 15px;
  transform: translate(0px, -80px);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.tata1 {
  border-radius: 15px;
  transform: translate(0px, -80px);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#deceo {
  padding-left: 3.5%;
  padding-top: 0%;
  /* background-color: rgb(203, 214, 211); */
 margin-bottom: 2cm;
  margin-left: 1cm;
  margin-right: 2cm;
  margin-top: 1cm; 

  height: 9cm;
  width: auto;
}
.sundar {
  margin-left: 1%;
  position: relative;
  box-shadow: 0px 5px 10px whitesmoke;
  transition: 0.3s;
  padding: 30px 20px;
  background-color: rgb(160, 158, 155);
  height: 6cm;
}
.ceo {
  margin: 1%;
  position: relative;
  box-shadow: 0px 5px 10px whitesmoke;
  transition: 0.3s;
  padding: 30px 20px;
  background-color: rgb(160, 158, 155);
  height: 6cm;
}
.cfo {
  margin: 1%;
  position: relative;
  box-shadow: 0px 5px 10px whitesmoke;
  transition: 0.3s;
  padding: 30px 20px;
  background-color: rgb(160, 158, 155);
  height: 6cm;
}
.tata {
  margin: 1%;
  position: relative;
  box-shadow: 0px 5px 10px whitesmoke;
  transition: 0.3s;
  padding: 30px 20px;
  background-color: rgb(160, 158, 155);
  height: 6cm;
}
#sun {
  position: relative;
  width: 200px;
  height: 200px; 
  border-radius: 15px;
}
#ceo1 {
  position: relative;
  width: 200px;
  height: 200px; 
  border-radius: 15px;
}
#co2 {
  position: relative;
  width: 200px;
    height: 200px; 
  border-radius: 15px;
}
#tat {
  position: relative;
  width: 200px;
  height: 200px; 
  border-radius: 15px;
}
.content1 {
  padding: 0px 0px;
  text-align: center;
  transform: translate(0px, -280px);
  opacity: 0;
  transition: 0.3s;
}
.content2 {
  padding: 0px 0px;
  text-align: center;
  transform: translate(0px, -280px);
  opacity: 0;
  transition: 0.3s;
}
.content3 {
  padding: 0px 0px;
  text-align: center;
  transform: translate(0px, -280px);
  opacity: 0;
  transition: 0.3s;
}
.content4 {
  padding: 0px 0px;
  text-align: center;
  transform: translate(0px, -280px);
  opacity: 0;
  transition: 0.3s;
}
.sundar:hover {
  height: 420px;
}
.sundar:hover > .content1 {
  opacity: 1;
  transform: translate(0px, -240px);
}
.ceo:hover {
  height: 420px;
}
.ceo:hover > .content2 {
  opacity: 1;
  transform: translate(0px, -240px);
}
.cfo:hover {
  height: 420px;
}
.cfo:hover > .content3 {
  opacity: 1;
  transform: translate(0px, -240px);
}
.tata:hover {
  height: 420px;
}
.tata:hover > .content4 {
  opacity: 1;
  transform: translate(0px, -240px);
}
/* .talku{
  height: 10cm;
} */